body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  overflow: hidden;
}

.animated-bg {
  position: absolute;
  width: 150%;
  height: 100%;
  background: linear-gradient(90deg, rgba(108, 92, 231, 0.6), rgba(225, 112, 85, 0.6));
  animation: flowing-bg 10s infinite alternate ease-in-out;
  z-index: 1;
  filter: blur(100px);
}

@keyframes flowing-bg {
  0% {
    transform: translateX(-20%) translateY(10%);
  }
  100% {
    transform: translateX(20%) translateY(-10%);
  }
}
